:root {
    --accent-color: rgba(236, 121, 5);
    --accent-subdued-color: hsl(var(--accent-color), 20%);

    --text-color: rgba(0, 0, 0);
    --text-subdued-color: rgba(127, 127, 127);

    --background-color: rgba(255, 255, 255);
    --background-subdued-color: rgba(245, 245, 245);

}
* {
    box-sizing: border-box;
}
html {
    overflow: hidden;
}

body {
    background: linear-gradient(to right, rgba(255, 0, 0, .5), rgba(0, 0, 255, 1));
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
    margin: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 100%;
    }
}