{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app/user/show') }}
{% endblock %}

{% block content %}
    <section class="profile">
        <div class="profile-block">
            {% if app.user.avatar is not null %}
                <img class="profile-block__logo" src="{{ asset('images/avatar/' ~ app.user.avatar) }}" alt="User Avatar">
            {% else %}
                <img class="profile-block__logo" src="{{ asset('images/avatar/default.svg') }}" alt="Default Avatar">
            {% endif %}
            {% block about %}{% endblock %}
        </div>
        {% block form %}{% endblock %}


    </section>
{% endblock %}